<div class="container">
  <h2 class="admin-customers-edit-title">会員編集画面</h2>

  <%= form_for(@customer, html: { class: "form-inline"}) do |f| %>
    <table class="row table admin-customers-show-table">
      <tr>
        <th class="col-xs-3"><%= f.label "会員ID" %></th>
        <td class="col-xs-9"><%= @customer.id %></td>
      </tr>
      <tr>
        <th><%= f.label "氏名" %></th>
        <td>
          <%= f.text_field :last_name, class:"form-control" %>
          <%= f.text_field :first_name, class:"form-control" %>
        </td>
      </tr>
      <tr>
        <th><%= f.label "フリガナ" %></th>
        <td>
          <%= f.text_field :kana_last_name, class:"form-control" %>
          <%= f.text_field :kana_first_name, class:"form-control" %>
        </td>
      </tr>
        <th><%= f.label "郵便番号" %></th>
        <td><%= f.text_field :zip_code, class:"form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label "住所" %></th>
        <td><%= f.text_field :address, class:"form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label "電話番号" %></th>
        <td><%= f.text_field :tel, class:"form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label "メールアドレス" %></th>
        <td><%= f.text_field :email, class:"form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label "会員ステータス" %></th>
        <td>
          <%= f.label "有効" %>
          <%= f.radio_button :admittion_status, :validity, :checked => (@customer.admittion_status == :validity) %>
          <%= f.label "無効" %>
          <%= f.radio_button :admittion_status, :withdraw, :checked => (@customer.admittion_status == :withdraw)  %>
        </td>
      </tr>
    </table>
    
    <div class="row">
      <%= f.submit "変更を保存する", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>