<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class="admin-customers-show-title">会員詳細画面</h2>
  <table class="row table admin-customers-show-table">
    <tr>
      <th class="col-xs-2">顧客ID</th>
      <td class="col-xs-10">
        <%= @customer.id %>
        <% if @customer.admittion_status == "validity" %>
          <span class="label label-primary admittion_status_label">有効会員</span>
        <% else %>
          <span class="label label-danger admittion_status_label">退会済会員</span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @customer.last_name + "　" + @customer.first_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @customer.kana_last_name + "　" + @customer.kana_first_name %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.zip_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @customer.tel %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  <div class="row">
    <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-primary" %>
    <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %>
  </div>
</div>