<div class="container">
	<div class="ec-delivery-edit">
	<h2 class="ec-derivery-title">配送先編集</h2>
		<%= form_for(@delivery_address) do |f| %>
		<div class="edit-delivery-table">
			<div>
				<table class="table">
					<tbody>
						<tr class="row">
							<th class="col-xs-3">郵便番号</th>
							<td class="col-xs-9 row">
								<div class="col-xs-4">
									<%= f.text_field :zip_code, class:"form-control", placeholder: "7503939" %>
									<%= render partial: "common/error_message", locals: {resource: @delivery_address, attr: :zip_code} %>
								</div>
							</td>
						</tr>
						<tr class="row">
							<th>住所</th>
							<td>
								<div class="col-xs-10">
									<%= f.text_field :address, class:"form-control", placeholder: "東京都六本木一丁目コーポ山下603" %>
									<%= render partial: "common/error_message", locals: {resource: @delivery_address, attr: :address} %>
								</div>
							</td>
						</tr>
						<tr class="row">
							<th>宛名</th>
							<td>
								<div class="col-xs-5">
									<%= f.text_field :name, class:"form-control", placeholder: "長野 景樹" %>
									<%= render partial: "common/error_message", locals: {resource: @delivery_address, attr: :name} %>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="update-delivery-btn-wrap row">
			<%= f.submit '登録する', class:"create-delivery-btn btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>
