<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class="mypage-title">マイページ</h2>
  <div class="mypage-flex-group mypage-register-info-header">
    <span>登録情報</span>
    <%= link_to '編集する',edit_registration_path(@customer), class: "btn btn-success" %>
    <%= link_to 'パスワードを変更する', '#', class: "btn btn-success" %>
  </div>
  <table class="row table table-bordered mypage-register-info-table">
    <tr>
      <th class="col-xs-2">氏名</th>
      <td class="col-xs-10"><%= @customer.last_name + "　" + @customer.first_name %></td>
    </tr>
    <tr>
      <th>カナ</th>
      <td><%= @customer.kana_last_name + "　" + @customer.kana_first_name %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= '〒' + @customer.zip_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @customer.tel %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>

  <div class="mypage-flex-group">
    <span>配送先</span>
    <%= link_to '一覧を見る', delivery_addresses_path, class: "btn btn-success" %>
  </div>
  <div class="mypage-flex-group">
    <span>注文履歴</span>
    <td><%= link_to '一覧を見る', orders_path, class: "btn btn-success" %></td>
  </div>
</div>