<h2>購入情報入力</h2>
<%= form_for(@order, url: orders_path) do |f| %>
<h4>支払い方法</h4>
<%= f.radio_button :payment_method, :"現金", checked: true %>
<%= f.label(:payment_method, "現金") %>
<%= f.radio_button :payment_method, :"カード" %>
<%= f.label(:payment_method, "クレジットカード") %>

<h4>お届け先</h4>
<table>
  <tbody>

    <tr>
      <td><%= f.radio_button :delivery_address, :"ご自身の住所", checked: true %></td>
      <td><%= f.label(:delivery_address, "ご自身の住所") %></td>
      <%= current_customer.zip_code + current_customer.address %>
    </tr>

    <tr>
      <td><%= f.radio_button :delivery_address, :"登録住所から選択" %></td>
      <td><%= f.label(:delivery_address, "登録済住所から選択") %></td>
      <td><%= select(:orders, :delivery_id, current_customer.deliveries.map { |deli| [deli.full_address, deli.id] }) %></td>
    </tr>

    <tr>
      <td><%= f.radio_button :delivery_address, :"新しいお届け先" %></td>
      <td><%= f.label(:delivery_address, "新しいお届け先") %></td>
    </tr>

    <tr>
      <td><%= f.label(:zip_code, "郵便番号") %></td>
      <td><%= f.text_field :zip_code %>ハイフンなし</td>
    </tr>

    <tr>
      <td><%= f.label(:delivery_address, "住所") %></td>
      <td><%= f.text_field :delivery_address %></td>
    </tr>

    <tr>
      <td><%= f.label(:delivery_name, "宛名") %></td>
      <td><%= f.text_field :delivery_name %></td>
    </tr>

  </tbody>
</table>
<%= f.submit '確認画面へ進む', class: "btn btn-success" %>
<% end %>

