<div class="container">
  <div class="row product-ditail-content">
    <div class="col-xs-4">
      <p id ="notice"><%= flash[:notice] %></p>
      <h2>商品詳細画面</h2>
      <%= attachment_image_tag @product, :image, :fill, 300, 300 %>
    </div>
    <div class="col-xs-8">
      <table class="table product-ditail-table">
        <tr>
          <th>商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>税抜価格</th>
          <td><%= "#{@product.price}円" %></td>
        </tr>
        <tr>
          <th>税込価格</th>
          <td><%= "#{(@product.price * Constants::TAX).round }円" %></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td><%= @product.sales_status ? "販売中" : "販売停止中" %></td>
        </tr>
      </table>
      <div>
        <%= link_to "編集", edit_admin_product_path(@product.id), class: "btn btn-success btn-new-register btn-lg" %>
        <%= link_to "続けて登録", new_admin_product_path, class: "btn btn-success btn-new-register btn-lg"  %>
      </div>
    </div>
  </div>
</div>
</div>