<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <table class="table table-bordered table-hover">
        <tr>
          <h4>ジャンル検索</h4>
        </tr>
        <% @genres.each do |genre| %>
        <tr>
          <td>
            <%= link_to genre.name,products_path(genre_id: genre.id) %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-9 col-xs-offset-1 product-card-content">
      <% if @products_of_genre.present? %>
        <% if @products_of_genre.count > 0 %>
          <h2><%= @products_of_genre.first.genre.name %></h2>
          <p><%= "(全#{@products_of_genre.count}件)" %></p>

          <% @products_of_genre.each do |product| %>
          <%= link_to product_path(product.id) do %>
          <div class="thumbnail product-thumbnail col-xs-2">
            <%= attachment_image_tag product, :image, :size => '300x300' %>
            <div class="caption">
              <p><%= product.name %></p>
              <p><%= "¥#{product.price}" %></p>
            </div>
          </div>
          <% end %>
          <% end %>

          <div class="row text-center">
            <%= paginate @products_of_genre, class: "paginate" %>
          </div>
        <% else %>
          <h2>このジャンルの商品は現在取り扱っていません</h2>
        <% end %>

      <% elsif @products_all.present? %>
        <% if @products_all.count > 0 %>
          <h2>すべての商品</h2>
          <p><%= "(全#{@products_all.count}件)" %></p>

          <% @products_all.each do |product| %>
          <%= link_to product_path(product.id) do %>
          <div class="thumbnail product-thumbnail col-xs-2">
            <%= attachment_image_tag product, :image, :size => '300x300' %>
            <div class="caption">
              <p><%= product.name %></p>
              <p><%= "¥#{product.price}" %></p>
            </div>
          </div>
          <% end %>
          <% end %>
          <div class="row text-center">
            <%= paginate @products_all, class: "paginate" %>
          </div>

        <% else %>
          <h2>商品がありません</h2>
        <% end %>

      <% else %>
        <%# このパターンはないはず %>
      <% end %>
      
    </div>
  </div>
  
</div>
