<!DOCTYPE html>
<html>
<head>
  <title>ながのCAKE - 管理ページ</title>
  <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
      <div class="container-fluid">
        <div class="admin-name">
        <!-- ログイン時に名前表示 -->
          <% if admin_signed_in? %>
            <p class="text-right"><%= current_admin.name %></p>
          <% end %>
        </div>
        <div class="logo-container">
          <i class="fas fa-cheese header-icon"></i>
          <span class="nagano">ながの</span><span class="cake">CAKE</span><span>―管理者ページ―</span>
        </div>
        <div class="menu">
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li><%= link_to "商品一覧", admin_products_path %></li>
              <li><%= link_to "会員一覧", admin_customers_path %></li>
              <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
              <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
              <!-- ログイン時はheaderにログアウト表示 -->
              <%  if admin_signed_in? %>
                <li><%= link_to "ログアウト", destroy_admin_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
  </header>
  <!-- /header -->
  <%= yield %>
</body>
</html>