<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- fontawasomeの呼び出し -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="row">
            <!-- ログイン時はカスタマーの名前を表示 -->
            <% if customer_signed_in? %>
              <div class="header-customer-name"><p class="text-right"><%= current_customer.last_name + " " + current_customer.first_name %>様</p></div>
            <% end %>
            <!-- / -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample5">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <p class="navbar-brand">
                <%= image_tag 'cakes.png', :size =>'100x95' %>
              </p>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbarEexample5">
              <ul class="nav navbar-nav">
                <li><%= link_to "トップ", homes_top_path %></li>
                <li><%= link_to "アバウト", homes_about_path %></li>
                <li><%= link_to "マイページ", customer_path %></li>
                <!-- ログイン時はheaderにログアウト表示,ログアウト時はサインアップ表示 -->
                <%  if customer_signed_in? %>
                  <li><%= link_to "ログアウト", destroy_customer_session_path %></li>
                <% else %>
                  <li><%= link_to "新規登録", new_customer_registration_path %></li>
                <% end %>
                <!-- / -->
                <li><%= link_to(cart_items_path) do %><i class="fas fa-shopping-cart"></i><% end %></li>
              </ul>
            </div>
          </div>
        </div>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="商品名で探す">
          </div>
          <button type="submit" class="btn btn-default search-btn">検索</button>
          <!-- 検索ボタンにsearch-btn class追加 -->
        </form>
      </nav>
    </header>
    <!-- /header -->

    <%= yield %>

    <!-- footer -->
    <footer>
      <div class="container-fluid footer">
        <div class="row">
          <div class="footer-info-box col-xs-8 col-xs-offset-2">
            <p><i class="fas fa-home"></i>  東京都××××××××××××</p>
            <p><i class="fas fa-phone"></i>  000-0000-0000</p>
            <p>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-f"></i>
            </p>
          </div>
          <div class="footer-copywrite-box col-xs-2">
            <p>©copyright</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- fotter -->
  </body>
</html>
