<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_customer %>
    <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to 'サインアップ', '#', class: "btn btn-primary" %>
  <% end%>

  <body>
    <%= yield %>
  </body>
</html>
